* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.background {
    position: relative;
}

.info-background-img {
    position: absolute;
    right: -50px;
    top: -140px;
}

.container {
    position: relative;
    padding: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;
}

.header .address {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;
}

.header .phone-number {
    position: relative;
    width: 180px;
}

.header .phone-number .number {
    position: absolute;
    left: 35px;
    width: 150px;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;
}

.header .phone-number .icon {
    position: absolute;
    left: 0;
    top: 8px;
    width: 28px;
    height: 28px;
}

.educator-topic {
    position: relative;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 58px;
    text-align: center;

    color: #FBCD44;
}

.portfolio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.portfolio .image {
    position: relative;
    /*left: -20px;*/
}

.portfolio .text {
    position: relative;
    /*width: fit-content;*/
    /*height: fit-content;*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.feedbacks-topic {
    position: relative;
    width: 600px;
    height: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px;

    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #846DC6;
}

.feedback-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.feedback-images div {
    position: relative;
    height: fit-content;
}

#call-form {
    position: relative;
    height: 273px;
    width: 1054px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 80px;
    margin-top: 80px;
}

#call-form img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

#call-form .topic {
    position: absolute;
    width: 552px;
    height: 81px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

    color: #FFFFFF;
}

#call-form .name-form {
    position: absolute;
    width: 270px;
    height: 52px;
    left: 60px;
    top: 150px;
    padding-left: 30px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}

#call-form .name-form::placeholder {
    color: #C4C4C4;
}

#call-form .phone-number-form {
    position: absolute;
    width: 330px;
    height: 52px;
    left: 360px;
    top: 150px;
    padding-left: 30px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}

#call-form .phone-number-form::placeholder {
    color: #C4C4C4;
}

#call-form .main-btn {
    position: absolute;
    width: 270px;
    height: 52px;
    right: 60px;
    top: 150px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
    background: #F596CA;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.footer {
    position: relative;
    width: 1701px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.footer .background {
    position: absolute;
    top: 0;
    left: 0;
}

.footer .text {
    position: absolute;
    width: 600px;
    top: 150px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.footer .description {
    position: absolute;
    width: 600px;
    top: 200px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

@media (max-width: 1199px) {
    .educator-topic {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .header .logo {
        transform: scale(0.8);
    }

    .header .address {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .header .phone-number {
        width: 180px;
    }

    .header .phone-number .number {
        left: 18px;
        width: 150px;

        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .header .phone-number .icon {
        left: 0;
        top: 4px;
        transform: scale(0.7);
    }

    #call-form .name-form {
        width: 200px;
        height: 52px;
        left: 160px;
        top: 150px;
        padding-left: 30px;

        font-size: 20px;
        line-height: 24px;
    }

    #call-form .phone-number-form {
        width: 270px;
        height: 52px;
        left: 390px;
        top: 150px;
        padding-left: 30px;

        font-size: 20px;
        line-height: 24px;
    }

    #call-form .main-btn {
        width: 200px;
        height: 52px;
        right: 160px;
        top: 150px;

        font-size: 20px;
        line-height: 24px;
    }

    .educator-topic {
        height: 32px;
        margin-top: 100px;
        margin-bottom: 10px;

        font-size: 32px;
        line-height: 32px;
    }
}

@media (max-width: 767px) {
    .info-background-img {
        position: absolute;
        right: -50px;
        top: -100px;
    }

    .header {
        height: 140px;
        justify-content: space-between;
        padding: 30px 0 0;
    }

    .header .logo {
        transform: scale(0.9);
    }

    .header .address {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 250px;
        font-size: 16px;
        line-height: 40px;
    }

    .header .phone-number {
        width: 180px;
    }

    .header .phone-number .number {
        left: 18px;
        top: 6px;
        width: 150px;

        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .header .phone-number .icon {
        left: 0px;
        top: 12px;
        transform: scale(0.7);
    }

    #call-form {
        height: 284px;
        width: 1054px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 80px;
        margin-top: 80px;
    }

    #call-form img {
        left: 25%;
        transform: scale(1.3);
        z-index: -1;
    }

    #call-form .topic {
        width: 345px;
        height: 46px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;

        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    #call-form .name-form {
        width: 320px;
        height: 52px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 60px;
        padding-left: 30px;

        font-size: 20px;
        line-height: 24px;
    }

    #call-form .phone-number-form {
        width: 320px;
        height: 52px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 130px;
        padding-left: 30px;

        font-size: 20px;
        line-height: 24px;
    }

    #call-form .main-btn {
        width: 320px;
        height: 52px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 200px;

        font-size: 20px;
        line-height: 24px;
    }

    .footer .text {
        width: 430px;
        height: 100px;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0);

        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .footer .description {
        width: 450px;
        height: 100px;
        top: 250px;
        left: 50%;
        transform: translate(-50%, 0);

        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .educator-topic {
        width: 556px;
        height: 30px;
        margin-top: 100px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 30px;
        line-height: 33px;
    }

    .educator-topic {
        width: 300px;
        height: 60px;
        top: -50px;
        margin-top: 100px;
        margin-bottom: 20px;

        font-size: 32px;
        line-height: 36px;
    }

    .portfolio {
        height: 400px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .portfolio .image {
        position: relative;
        transform: scale(0.7);
        top: -100px;
    }

    .portfolio .text {
        position: relative;
        top: -170px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .feedbacks-topic {
        margin-top: 0;
    }

    .feedback-images {
        position: relative;
        width: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        height: 600px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .feedback-images img {
        width: 385px;
        height: auto;
    }
}

@media (max-width: 475px) {
    .info-background-img {
        position: absolute;
        right: -50px;
        top: -130px;
    }

    .header {
        display: flex;
        height: 140px;
        justify-content: space-between;
        padding: 30px 0 0;
    }

    .header .logo {
        transform: scale(0.9);
    }

    .header .address {
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 250px;
        font-size: 16px;
        line-height: 40px;
    }

    .header .phone-number {
        width: 180px;
    }

    .header .phone-number .number {
        left: 18px;
        top: 6px;
        width: 150px;

        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .header .phone-number .icon {
        left: 0;
        top: 12px;
        transform: scale(0.7);
    }

    .footer .text {
        width: 320px;
        height: 100px;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0);

        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .footer .description {
        width: 320px;
        height: 100px;
        top: 290px;
        left: 50%;
        transform: translate(-50%, 0);

        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}